.headerTop {
    z-index: 2;
    position: relative;
    background: #000000;
    padding: 20px 0px 50px;
}

.headerRight h2{
    color: #fff;
    font-size: 30px;
    font-weight: 800;
    padding: 50px 150px 0;
}

.nav ul {
    display: flex;
    column-gap: 70px;
    padding-right: 100px;
    justify-content: end;
}

.ul a {
    color: #FA9021;
    font-size: 16px;
    column-gap: 80px;
    font-weight: 400;
}