.contact {
    background: black;
}

.contactInfo h2 {
    color: white;
    font-size: 35px;
    font-weight: 600;
    padding-top: 80px;
    text-align: center;
}

.contactInfo p {
    color: white;
    font-size: 15px;
    font-weight: 500;
    padding-top: 30px;
    text-align: center;
}

.contactImg {
    display: flex;
    padding-top: 70px;
    justify-content: center;
}

.contactRight {
    display: flex;
    justify-content: center;
    padding: 50px 0px 50px;
}

.contactRegister {
    background: #000000;
}

.registerInfo h3 {
    color: white;
    font-size: 30px;
    font-weight: 400;
    padding-top: 70px;
    text-align: center;
}

.registerInfo p {
    color: white;
    font-size: 15px;
    font-weight: 500;
    padding-top: 10px;
    text-align: center;
}

.contactRegister form {
    gap: 20px;
    display: flex;
    column-gap: 50px;
    margin-top: 100px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}